@media (max-width: $mobile-breakpoint) {
  .weather-city-details {
    width: 100vw;
    height: 100vh;
    @include mobile-grid();

    &.rain {
      background: radial-gradient(circle, #011354 0%, #5b9fe3 100%);
    }

    &.clear {
      background: radial-gradient(circle, #5374e7 0%, #77b9f5 100%);
    }

    &.clouds {
      background: radial-gradient(circle, #464c64 0%, #99a9b9 100%);
    }

    &.snow {
      background: radial-gradient(circle, #a7b6ee 0%, #d6d8da 100%);
    }

    .header {
      @include d-flex(null, center, row);

      .city-name {
        @include style-font($primary-text-white, $poppins, 32px, 600, 48px, 0);
        margin: 0 auto;
      }
    }

    .hero-section {
      text-align: center;
      margin-top: 50px;

      .date {
        @include style-font($primary-text-white, $poppins, 20px, 500, 18px, 0);
        padding-bottom: 12px;
      }

      .weather-type {
        @include style-font($primary-text-white, $poppins, 20px, 500, 30px, 0);
        margin-top: 20px;
      }

      .hero-subSection {
        @include d-flex(space-around, center, row);

        .weather-icon {
          width: 140px;
          height: 140px;
        }

        .temperature {
          @include style-font(
            $primary-text-white,
            $poppins,
            110px,
            700,
            166px,
            0
          );
        }
      }
    }

    .nextDays::-webkit-scrollbar {
      display: none;
    }

    .nextDays {
      display: flex;
      overflow-x: auto;
      flex-wrap: nowrap;
      gap: 15px;
      height: 280px;
      margin-left: -20px;
      padding: 0 20px;
      margin-top: 20px;

      .day-box {
        width: 148px;
        height: 232px;
        @include d-flex(center, center, column);
        @include card-style();
        flex: 0 0 auto;
        background: $day-card-color;

        .day-name {
          @include style-font(
            $primary-text-white,
            $poppins,
            22px,
            600,
            33px,
            0
          );
        }
        .day-temp {
          @include style-font(
            $primary-text-white,
            $poppins,
            18px,
            600,
            33px,
            0
          );
          display: flex;
          gap: 15px;

          .min-temp {
            color: #0077b6;
          }
          .max-temp {
            color: #d62828;
          }
        }
      }
    }
  }
}
