@media (max-width: $mobile-breakpoint) {
  .mainPage {
    @include mobile-grid();
  }

  .mobile-content {
    padding-bottom: 100px;

    .header {
      padding: 0 60px;
      margin-bottom: 30px;

      .greeting-title {
        @include style-font($primary-text-blue, $poppins, 28px, 600, 42px, 0);
        text-align: center;
      }
    }

    .add-city {
      @include d-flex(center, center, row);
      padding-top: 18px;
      padding-bottom: 18px;
      height: 70px;
      width: 80%;
      margin: 0 auto 30px;

      .btn {
        @include button;
        margin-right: 15px;
        color: $primary-text-blue;
      }

      form {
        display: flex;
        align-items: center;
        height: 100%;
        width: 80%;

        input {
          height: 100%;
          border-radius: 3px;
          border: 1px solid black;
          width: 100%;
          font-size: 24px;
        }

        button {
          background: none;
          border: none;
          margin-left: 15px;
        }
      }

      .txt {
        @include style-font($primary-text-blue, $poppins, 20px, 600, 30px, 0);
        text-align: center;
      }
    }

    .mobile-menu {
      background-color: white;
      @include card-style();
      @include d-flex(space-between, center, row);
      padding: 26px 50px;
      position: fixed;
      bottom: 20px;
      right: 20px;
      left: 20px;

      .menu-item {
        height: 24px;
        width: 24px;
        position: relative;

        img {
          max-width: 100%;
          object-fit: cover;
        }

        &.active::after {
          position: absolute;
          bottom: -24px;
          left: 50%;
          transform: translate(-50%, 0);
          content: "";
          height: 2px;
          width: 71px;
          background: $primary-text-blue;
        }
      }
    }
  }
}